<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <display-name>Picar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>singleOrder</servlet-name>
    <servlet-class>com.singleOrder.controller.SingleOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>singleOrder</servlet-name>
    <url-pattern>/singleOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderType</servlet-name>
    <servlet-class>model.OrderTypeMap</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>state</servlet-name>
    <servlet-class>model.StateMap</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RenewDriverRateTimer</servlet-name>
    <servlet-class>Timer.RenewDriverRateTimer</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DelayTimer</servlet-name>
    <servlet-class>Timer.DelayTimerx</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
   <servlet>
    <servlet-name> DeductSingleReservationTimer</servlet-name>
    <servlet-class>Timer.DeductSingleReservationTimer</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Broadcast</servlet-name>
    <servlet-class>com.broadcast.controller.BroadcastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Broadcast</servlet-name>
    <url-pattern>/back-end/broadcast/broadcast.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Driver</servlet-name>
    <servlet-class>com.driver.controller.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Driver</servlet-name>
    <url-pattern>/front-end/driver/driver.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Driver2</servlet-name>
    <servlet-class>com.driver.controller.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Driver2</servlet-name>
    <url-pattern>/back-end/driver/driver.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupMem</servlet-name>
    <servlet-class>com.groupMem.controller.GroupMemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupMem</servlet-name>
    <url-pattern>/GroupMem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupBand</servlet-name>
    <servlet-class>com.groupBand.controller.GroupBandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupBand</servlet-name>
    <url-pattern>/GroupBand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupOrder</servlet-name>
    <servlet-class>com.groupOrder.controller.GroupOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupOrder</servlet-name>
    <url-pattern>/GroupOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.groupBand.controller.ImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/ImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivServlet</servlet-name>
    <servlet-class>com.activity.controller.ActivServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivServlet</servlet-name>
    <url-pattern>/activity/Activ_servlet.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivTokenServlet</servlet-name>
    <servlet-class>com.activityToken.controller.ActivTokenServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivTokenServlet</servlet-name>
    <url-pattern>/activityToken/ActivTokenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DriverReportServlet</servlet-name>
    <servlet-class>com.driverReport.controller.DriverReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverReportServlet</servlet-name>
    <url-pattern>/back-end/driverReport/driverReport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverReportServlet</servlet-name>
    <url-pattern>/front-end/driverReport/driverReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupReportServlet</servlet-name>
    <servlet-class>com.groupReport.controller.GroupReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupReportServlet</servlet-name>
    <url-pattern>/back-end/groupReport/groupReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Location</servlet-name>
    <servlet-class>com.location.controller.LocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/location</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberApi</servlet-name>
    <servlet-class>android.com.member.controller.memberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberApi</servlet-name>
    <url-pattern>/memberApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.admin.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/back-end/admin/admin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/front-end/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet1</servlet-name>
    <servlet-class>com.member.controller.MemberServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet1</servlet-name>
    <url-pattern>/back-end/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RateServlet</servlet-name>
    <servlet-class>com.rate.controller.RateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateServlet</servlet-name>
    <url-pattern>/back-end/rate/rate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentRecordServlet</servlet-name>
    <servlet-class>com.paymentRecord.controller.PaymentRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentRecordServlet</servlet-name>
    <url-pattern>/paymentRecord/paymentRecord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreRecordServlet</servlet-name>
    <servlet-class>com.storeRecord.controller.StoreRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreRecordServlet</servlet-name>
    <url-pattern>/front-end/storeRecord/storeRecord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreRecordServlet1</servlet-name>
    <servlet-class>com.storeRecord.controller.StoreRecordServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreRecordServlet1</servlet-name>
    <url-pattern>/back-end/storeRecord/storeRecord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>singleOrderApi</servlet-name>
    <servlet-class>android.com.singleOrder.controller.SingleOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupOrderApi</servlet-name>
    <url-pattern>/groupOrderApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupOrderApi</servlet-name>
    <servlet-class>android.com.groupOrder.controller.GroupOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>singleOrderApi</servlet-name>
    <url-pattern>/singleOrderApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>driverApi</servlet-name>
    <servlet-class>android.com.driver.controller.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>driverApi</servlet-name>
    <url-pattern>/driverApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DriverVerified</servlet-name>
    <servlet-class>model.DriverVerified</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginHandlerBackEnd</servlet-name>
    <servlet-class>com.login.filter.LoginHandlerBackEnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandlerBackEnd</servlet-name>
    <url-pattern>/back-end/login/loginHandlerBackEnd.do</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
    <filter-name>LoginFilterBackEnd</filter-name>
    <filter-class>com.login.filter.LoginFilterBackEnd</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilterBackEnd</filter-name>
    <url-pattern>/back-end/activity/*</url-pattern>
    <url-pattern>/back-end/activityToken/*</url-pattern>
    
<!-- <url-pattern>/back-end/admin/*</url-pattern> -->

    <url-pattern>/back-end/broadcast/*</url-pattern>
    <url-pattern>/back-end/driver/*</url-pattern>
    <url-pattern>/back-end/driverReport/*</url-pattern>
    <url-pattern>/back-end/groupReport/*</url-pattern>
    <url-pattern>/back-end/member/*</url-pattern>
    <url-pattern>/back-end/rate/*</url-pattern>
    <url-pattern>/back-end/singleOrder/*</url-pattern>
    <url-pattern>/back-end/storeRecord/*</url-pattern>           
    <url-pattern>/back-end/member/*</url-pattern>
 	<url-pattern>/back-end/backHome.jsp</url-pattern>
 	<url-pattern>/back-end/body_back.jsp</url-pattern>    
 	<url-pattern>/back-end/head_back.jsp</url-pattern>  
    <url-pattern>/back-end/kidBodyLeft.jsp</url-pattern>  
    <url-pattern>/back-end/kidFooter.jsp</url-pattern> 
    <url-pattern>/back-end/kidHead.jsp</url-pattern> 
    <url-pattern>/back-end/kidNavbar.jsp</url-pattern> 
    <url-pattern>/back-end/kidSidebar.jsp</url-pattern> 
    <url-pattern>/back-end/sidebar.jsp</url-pattern> 
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  
  
  
  
  <servlet>
    <servlet-name>LogoutHandlerBackEnd</servlet-name>
    <servlet-class>com.login.filter.LogoutHandlerBackEnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHandlerBackEnd</servlet-name>
    <url-pattern>/back-end/logoutHandlerBackEnd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>com.login.filter.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/front-end/login/loginHandler.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutHandler1</servlet-name>
    <servlet-class>com.login.filter.LogoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHandler1</servlet-name>
    <url-pattern>/front-end/HomeMember/logoutHandler.do</url-pattern>
  </servlet-mapping>
                
  
  <servlet>
    <servlet-name>LogoutHandler</servlet-name>
    <servlet-class>com.login.filter.LogoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHandler</servlet-name>
    <url-pattern>/front-end/member/logoutHandler.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupTimer</servlet-name>
    <servlet-class>Timer.GroupTimer</servlet-class>
    <load-on-startup>9</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupTimer</servlet-name>
    <url-pattern>/GroupTimer</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.login.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/front-end/member/listOneMemberByUpdate.jsp</url-pattern>
    <url-pattern>/front-end/member/pressToVerified.jsp</url-pattern>
    <url-pattern>/front-end/groupBand/insertGroupBand.jsp</url-pattern>
    <url-pattern>/front-end/driver/homeDriverDataManagment.jsp</url-pattern>
    <url-pattern>/front-end/groupBand/SelectGroupBand.jsp</url-pattern>
    <url-pattern>/front-end/groupBand/listAllOneGroupBand.jsp</url-pattern>
    <url-pattern>/front-end/storeRecord/listOneStoreRecordMemberFrontPos.jsp</url-pattern>
    <url-pattern>/front-end/storeRecord/listOneStoreRecordMemberFrontNeg.jsp</url-pattern>
    <url-pattern>/front-end/member/setting.jsp</url-pattern>
    <url-pattern>/front-end/location/updateLocation.jsp</url-pattern>
    <url-pattern>/front-end/activity/*</url-pattern>
    <url-pattern>/front-end/activityToken/*</url-pattern>
    <url-pattern>/front-end/driver/*</url-pattern>
    <url-pattern>/front-end/driverReport/*</url-pattern>
    <url-pattern>/front-end/groupBand/*</url-pattern>
    <url-pattern>/front-end/groupMem/*</url-pattern>
    <url-pattern>/front-end/groupOrder/*</url-pattern>
    <url-pattern>/front-end/HomeDriver/*</url-pattern>
    <url-pattern>/front-end/location/*</url-pattern>    
<!--     <url-pattern>/front-end/member/*</url-pattern>     -->
    <url-pattern>/front-end/singleOrder/*</url-pattern>    
    <url-pattern>/front-end/storeRecord/*</url-pattern>    
    <url-pattern>/front-end/HomeMember/HeadMember.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AdminSelfServlet</servlet-name>
    <servlet-class>com.admin.controller.AdminSelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSelfServlet</servlet-name>
    <url-pattern>/back-end/adminSelf.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calculate</servlet-name>
    <servlet-class>com.calculate.controller.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculate</servlet-name>
    <url-pattern>/TestSingleOrder/Calculate.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MemberSelfServlet</servlet-name>
    <servlet-class>com.admin.controller.MemberSelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSelfServlet</servlet-name>
    <url-pattern>/front-end/member/memberSelf.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FindGroupServlet</servlet-name>
    <servlet-class>com.groupReport.controller.FindGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindGroupServlet</servlet-name>
    <url-pattern>/back-end/groupReport/FindGroup.do</url-pattern>
  </servlet-mapping>
  
<!--    <servlet> -->
<!--     <servlet-name>DriverMoneyTimer</servlet-name> -->
<!--     <servlet-class>Timer.DriverMoneyTimer</servlet-class> -->
<!--     <load-on-startup>3</load-on-startup> -->
<!--   </servlet> -->
  <filter>
    <filter-name>WebSocketFilter</filter-name>
    <filter-class>android.com.webSocket.filter.WebSocketFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebSocketFilter</filter-name>
    <url-pattern>/locationWebSocket/*</url-pattern>
    <url-pattern>/orderBroadcastWebSocket/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
    <error-page>
  <error-code> 500 </error-code>
  <location>/regna-master/homeindex.jsp</location>
  </error-page>
  
    <error-page>
  <error-code> 404 </error-code>
  <location>/regna-master/homeindex.jsp</location>
  </error-page>
  
    <error-page>
  <error-code> 400 </error-code>
  <location>/regna-master/homeindex.jsp</location>
  </error-page>
  
      <error-page>
  <error-code> 403 </error-code>
  <location>/regna-master/homeindex.jsp</location>
  </error-page>
</web-app>


