<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <display-name>Picar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>singleOrder</servlet-name>
    <servlet-class>com.singleOrder.controller.SingleOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>singleOrder</servlet-name>
    <url-pattern>/singleOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderType</servlet-name>
    <servlet-class>model.OrderTypeMap</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>state</servlet-name>
    <servlet-class>model.StateMap</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GroupMem</servlet-name>
    <servlet-class>com.groupMem.controller.GroupMemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupMem</servlet-name>
    <url-pattern>/GroupMem</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>GroupBand</servlet-name>
    <servlet-class>com.groupBand.controller.GroupBandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupBand</servlet-name>
    <url-pattern>/GroupBand</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>ActivServlet</servlet-name>
	  <servlet-class>com.activity.controller.ActivServlet</servlet-class>
	  <load-on-startup>3</load-on-startup>
  </servlet>
	  <servlet-mapping>
	  <servlet-name>ActivServlet</servlet-name>
  <url-pattern>/activity/Activ_servlet.html</url-pattern>
  </servlet-mapping>
</web-app>